/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2017, 9:42:36 PM
    Author     : GTS

main color #00aeff;
    color : #ccefff;
    Highlight: #004666;

*/

.infoBox{
    min-width:40%;
    max-width:40%;
    height: 300px;
    border-style: solid;
    border-color: #004666;
    border-radius: 5%;
    display: inline-block;
    overflow-y:auto;
    overflow-x:hidden;
    margin: 0 auto;
    padding:15px;
    
}

.gameBox{
    
    width:40%;
    height: 300px;
    border-style: solid;
    border-color: #004666;
    border-radius: 5%;
    display: inline-block;
    overflow-y:auto;
    overflow-x:hidden;
    margin: 0 auto;
    padding:15px;
    
}

.errordiv{
    border-style: solid;
    border-color: red;
    max-width: 90%;
    min-width: 90%;
}
.container{
    min-height: 800px;
    max-width: 90%;
    min-width: 90%;
    margin: 0 auto;
    
}
.mainmenubar{
    max-width: 90%;
    min-width: 90%;
    min-height: 40px;
    margin: 0 auto;
    background-color: #00aeff;
    color : #ccefff;
    
    
}

.submenubar{
    max-width: 90%;
    min-width: 89%;
    min-height: 40px;
    margin: 0 auto;
    border-color: #00aeff;
    border-width: 1px;
    border-style: solid;
    color:#ccefff;
    /*display:none;*/
}

.submenuitem{
   display: inline-block;
    padding:5px;
    color: #003344; 
    
}

.mainmenuitem{
    display: inline-block;
    padding:5px;
   
    color: #FFFFFF;
}

.divider {
width: 400px;
margin: 0 0 8px 0;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #6273bf;
padding-top: 4px;
padding-bottom: 4px;
}

label{
    
    display: inline-block;
    width: 200px;
  text-align: left;
  margin: 0 100px 0 0;
}

.textInput{
    width : 300px;
}